section.row
div.panel-group(id="accordion" role="tablist" aria-multiselectable="true")
    div.panel.panel-success
        div.panel-heading(role="tab" id="headingOne")
            a.display-flex(role="button" data-toggle="collapse" data-parent="#accordion" href="#getProfessor" aria-expanded="false" aria-controls="collapseOne")
               span.bg-primary.icons-status GET
               span.title-panel /professor 
               span.describe-method recupera a lista de professores

        div.panel-collapse.collapse(id="getProfessor" role="tabpanel" aria-labelledby="headingOne")
            div.panel-body.body-panel
                p retorna um array de objetos referente a professor
                p.bg-default.parameters Parâmetros
                p Sem parâmetros
                p.bg-default.parameters Resposta 
                    span.pull-right content-type: application/json 
                table.table
                    tr
                        th Código de status
                        th Descrição
                    tr
                        td
                        td 200
                        td 
                            pre.code
                                code ok
                            div
                                p Exemplo de resposta | Model
                                pre.code
                                    code 
                                        include model/alunos.js
                                   